@charset "utf-8";
@import "variable";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}
ul, ol {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body, button, input,  select,  textarea  {
	color:$bodyColor;
	font: 14px/1.5  Tahoma,Helvetica,Arial,"\5FAE\8F6F\96C5\9ED1",sans-serif;
}
button, input, select, textarea {
	font-size: 100%;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
a {
	color:$normalColor;
	text-decoration: none;
}
a:hover {
	color:$hoverColor;
	text-decoration: none;
}
fieldset, img {
	border: none;
}
address, cite, dfn, em, var {
	font-style: normal;
}
code, kbd, pre, samp, tt {
	font-family: "Courier New", Courier, monospace;
}
small {
	font-size: 12px;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-table;
}/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
html {
	overflow-y: scroll;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}
input[type="search"] {
	-webkit-appearance: textfield;
	/* 1 */ box-sizing: content-box;
	/* 2 */;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

.align-c{
	text-align: center;
}

.container-box{
	width: 1200px;
	margin:0 auto;
}
.com-lazyload-gif{
	background: url("../images/loading.gif") no-repeat center center;
}
/**
 * 公共部分——分页
*/
.pagination-type2 {
    text-align: right;
    a {
        width: 108px;
        height: 36px;
        line-height: 36px;
        display: inline-block;
        margin: 0 5px;
        background: #cccccc;
        text-align: center;
        font-size: 16px;
        span {
            color: #fff;
        }
        &:hover {
            background: $activeColor;
        }
        &.prev {
            span {
                padding-left: 18px;
                background: url("../images/p_arrow_lf.png") no-repeat left center;
            }
        }
        &.next {
            span {
                padding-right: 18px;
                background: url("../images/p_arrow_rt.png") no-repeat right center;
            }
        }
    }
}
.pagination-type1 {
    text-align: right;
    a,
    span {
        display: inline-block;
        width: 44px;
        height: 44px;
        line-height: 44px;
        font-size: 20px;
        text-align: center;
        color: #ccc;
        vertical-align: middle;
    }
    span.current {
        background: #d3ad46;
        color: #fff;
    }
    a:hover {
        background: #d3ad46;
        color: #fff;
    }
}
/**
 * header 头部
 */
.header{
	height: 76px;
	.logo{
		width:230px;
		height: 100%;
		background: #f60;
		float: left; 
		text-indent: -999999px;
		background: url("../images/logo.png") no-repeat left top;

	}
}
/**
 * nav 导航
 */
.nav{
	float: right;
	padding-top: 32px;
	max-width: 950px;
	li{
		float: left;
		background: url("../images/nav_vertical_line.png") no-repeat right center;
		a{
			padding:0 20px;
			display: block;
			position: relative;
			font-size: 16px;
			&:after{
				content: "";
				-webkit-transition: all .3s ease-out;
			-ms-transition: all .3s ease-out ;
			-moz-transition: all .3s ease-out ;
		    transition: all .3s ease-out ;
			    width: 0;
			    height: 2px;
			    background: #d3ad46;
			    position: absolute;
			    bottom: -20px;
			    left: 0;

			}
			&:hover{
				&:after{
					width: 100%;
				}
				
			}
			
		}
		&:last-child{
			background:none;
		}
		&.current{
			a{
				color: $activeColor;
				&:after{
					width: 100%;
				}
			}
		}
	}	
}

/**
 * footer
 */
.footer{
	background: #343129;
	padding-top: 60px;
	.foot-up-box{
		clear: both;
		padding-bottom: 30px;
	}
	.foot-list{
		float: left;
		display: inline;
		width: 245px;
		padding: 0 0 0 45px;
		min-height: 214px;
		overflow: hidden;
		border-right: 1px solid #403d36;
		dt{
			font-size: 18px;
			color: #d3ad46;
		}
		dd{
			margin-top: 15px;
			a{
				color: #808080;
				float: left;
				width: 50%;
				padding-right: 15px;
				-moz-box-sizing:border-box;
				box-sizing:border-box;
				line-height: 32px;
				&:hover{
					color: #babab9;
				}
			}
		}
	}
	.cooperate-company{
		border-right: none;
		dd{
			a{
				display: block;
				width: 100%;
				padding: 0;
				margin-bottom:3px;
				line-height: normal;
			}
		}
	}
	.foot-tip{
		background: #403d36;
		width: 242px;
		padding: 20px 45px 30px 30px;
		float: right;
		overflow: hidden;
		min-height: 158px;
		line-height: 24px;

		p{
			line-height: 24px;
			font-size: 18px;
		}
		.detail{
			margin-top: 20px;
		}
	}
	.foot-down-box{
		border-top:1px solid #5d5a54;
		padding: 20px 0;
		clear: both;
		.copyright{
			text-align: center;
			margin-top: 3px;
			font-size: 12px;
		}
	}
	.foot-nav{
		text-align: center;
		a{
			color: #aaaaaa;
			margin: 0 5px;
			&:hover{
				color:#e7e7e7;
			}
		}
	}
}

/**
 *tab 
 */
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
       -o-transition: opacity .15s linear;
          transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
.com-tabs-content > .tab-pane {
  display: none;
}
.com-tabs-content > .active {
  display: block;
}

/**
 * 市场行情 公共样式
 */
.sshx-tabs-c-hd{
	width: 120px;
	float: left;
	li{
		border-bottom: 1px solid #e2b479;
		position: relative;
		&:last-child{
			border-bottom: none;
		}
		&.active{
			.arrow{
				display: block;
			}
			a{
				background: #b45d27;
			}
		}
		
		.arrow{
			width: 6px;
			height: 11px;
			display:none;
			overflow: hidden;
			position: absolute;
			right: -6px;
			top:50%;
			margin-top: -5.5px;
			background: url("../images/arrow_right_cs.png") no-repeat top center;
		}
		a{
			display: block;
			height: 41px;
			line-height: 41px;
			@extend %text-overflow;
			padding: 0 5px;
			text-align: center;
			background: #d69a64;
			font-size: 16px;
			color: #fff;
			position: relative;	
			&:hover{
				background: #b45d27;
			}
		}
		
	}
}
.chart-map-wrapper{
	width: 657px;
	background:#fbf5ef; 
	overflow: hidden;
	float: left;
	.chart-type{
		text-align: right;
		padding: 25px 60px 25px 0;
		a{
			display: inline-block;
			color: #d69a64;
			height: 28px;
			line-height: 28px;
			width: 62px;
			padding: 1px;
			text-align: center;
			&:hover{
				color: #b45d27;
			}
			&.current{
				background: #f8eee4;
				border:1px solid #f2decc;
				border-radius: 5px;
				padding: 0;
				color: #b45d27;
			}
		}
	}
	.chart-map{
		text-align: center;
		margin: 0  auto;
		width: 627px;
		height: 335px;
		overflow: hidden;
	}
}
.chart-txt-wrapper{
	background: #f8eee4;
	width: 220px;
	overflow: hidden;
	float: right;
	.item-up{
		background: #f2decc;
		padding-top: 10px;
		.name{
			width: 99px;
			height: 139px;
			line-height: 139px;
			margin:0 auto;
			padding: 0 20px;
			overflow: hidden;
			text-align: center;
			color: #fff;
			background: url("../images/circlex139.jpg") no-repeat;
			p{
				display: inline-block;
				max-width: 100%;
				vertical-align: middle;
				line-height: normal;
				span{
					font-size: 22px;
					width:100%;
					display: block;
					@extend %text-overflow;
				}
				b{
					font-weight: normal;
					font-size: 12px;
				}
			}
		}
		.num{
			color: #f54545;
			font-size: 24px;
			text-align: center;
		}
		.wave{
			text-align: center;
			color: #f52f3e;
			padding-bottom: 19px;
			b{
				    display: inline-block;
				    vertical-align: middle;
				    width: 11px;
				    height: 13px;
				    margin-top: -1px;
				    margin-right: 3px;
			}
			&.up{
				b{
					background: url("../images/arrow_up_red.png") no-repeat top center;
				}
				
			}
			&.down{
				b{
					background: url("../images/arrow_down_red.png") no-repeat top center;
				}
				
			}
		}
		.time{
			height: 38px;
			line-height: 38px;
			color: #d69a64;
			text-align: center;
			border-top:1px dotted #e6c4ab;
		}
	}
	.item-down{
		background: #f8eee4;
		position: relative;
		li{
			float: left;
			width: 50%;
			text-align: center;
			box-sizing: border-box;
			padding: 16px 2px;
			border-right:1px dotted #ead1be;
			border-top:1px dotted #ead1be;
			&:nth-child(2n){
				border-right: 0;
			}
			p{
				font-size: 24px;
				line-height: 23px;
				color: #f54545;
				font-family: arial;
				@extend %text-overflow;
			}
			span{
					color: #d69a64;
					margin-top:2px;
					display:inline-block;
					&.up{
						padding-right: 15px;
						background: url("../images/arrow_up_cs.png") no-repeat right center;
					}
					&.down{
						padding-right: 15px;
						background: url("../images/arrow_down_cs.png") no-repeat right center;
						
					}
			}
		}
	}
}

/********/



